<div class="container">
    <div class="row mb-3">
        <div class="col">
            <h1>Posts</h1>
            <div>Page: {{page}} / {{totalPages}} </div>
            <button class="btn-primary btn">
                <a href="/posts/submit" class="text-white">Create post</a>
            </button>
        </div>
    </div>
    <div class="row row-cols-1 g-3">
        {{#each posts}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{this.title}}
                    </h5>
                    <p class="card-text">
                        {{this.body}}
                    </p>
                    <div><small>{{this.createdAt}} | {{this.authorUsername}}</small></div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="row">
        {{#if prevPage}}
        <div class="col">
            <button class="btn btn-primary">
                <a href="/posts/list/{{prevPage}}" class="text-white">
                    Previous Page
                </a>
            </button>
        </div>
        {{/if}}
        {{#if nextPage}}
        <div class="col">
            <button class="btn btn-primary">
                <a href="/posts/list/{{nextPage}}" class="text-white">
                    Next Page
                </a>
            </button>
        </div>
        {{/if}}
    </div>

</div>